<div id="wrapper">

	<div id="side-header-container" class="float">
		<span id="plug-header">login</span>
	</div>
	<div id="form-container">
		<%= form_for(:session, url: login_path) do |f| %>
			<%= f.text_field :name, placeholder: 'Username', class: 'text-field' %>
			<%= f.password_field :password, placeholder: 'Password', class: 'text-field' %>

			<%= f.submit "Go", class: 'submit-button' %>
		<% end %>
	</div>
</div>