<%= react_component 'Menubar', {items: 
[
  {
    "text" => "Link 1",
    "url"=> "#"
  },
  {
    "text"=> "Link 2",
    "url"=> "#",
    "submenu" => [
    	{
    		"text"=> "Sublink 1",
	        "url"=> "#"
    	}
    ]
  },
  {
    "text"=> "Link 3",
    "url"=> "#",
    "submenu"=> [
      {
        "text"=> "Sublink 1",
        "url"=> "#"
      },
      {
        "text"=> "Sublink 2",
        "url"=>"#"
      }
    ]
  }
]} %>

<h1>Home#index</h1>
<h2>Now we're cracking</h2>
<p>Find me in app/views/home/index.html.erb</p>




<%= react_component 'Games', { data: @games } %>

