<%= unless @game.players[0..1].include? @current_user then
		'You are spectating. This is not fully implemented and some things may break.'
	end %>

<div id="gamewrapper" data-room-id="<%= @game.webid %>">
	<% inv = current_user.involvements.find_by(game_id: @game.id) %>
	<% inv.nil? ? color='spec' : color=inv.color %>
	<%
		if @game.players[1] == @current_user
			p1 = @game.players[1]
			p2 = @game.players[0]
		else
			p1 = @game.players[0]
			p2 = @game.players[1]
		end
	%>

	<%= react_component 'Game', {game: @game, p1: p1, p2: p2, color: color} %>
</div>