<h1> <%= @player.name %> </h1>
<br>
User ID is <%= @player.id %> <br>
User was in these games:
<div>
	<% @player.games.each do |g| %>
		<li><%= link_to "#{g.players.first.display_name} vs. #{g.players.last.display_name}", g %>
	<% end -%>
</div>
