$boardpx: 30px;
$boardcolor: #b17e45;
@mixin no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select:   none; /* Chrome/Safari/Opera */
	-moz-user-select:      none; /* Firefox */
	-ms-user-select:       none; /* Internet Explorer/Edge */
	user-select:           none;
}

board {
	background:        $boardcolor url('../images/board.png');
	background-repeat: no-repeat;
	background-size:   contain;
	position:          relative;

	&:hover {
		cursor: pointer;
	}

	stone {
		position:        absolute;
		z-index:         1;
		font-size:       20px;
		line-height:     $boardpx;
		text-align:      center;
		background-size: contain;

		@include no-select;
	}
}

game {
	display:        flex;
	flex-direction: row;

	#controlBox {
		$totalHeight: 200px;
		$buttonHeight: 20px;
		$spanHeight: 20px;
		$timerHeight: 40px;
		$width: 249px;
		width:    $width;
		position: relative;
		margin:   0 0 0 20px;

		.timer {
			display:      inline-block;
			height:       40px;
			width:        140px;
			padding-left: 5px;

			font:         30px 'Roboto Mono', monospace;
			background:   white;
			border:       1px solid #cccccc;

			&:first-of-type {
				border-bottom: none;
			}
			&:last-of-type {
				border-top: none;
			}
		}

		#chat {
			$chatHeight: 600-$totalHeight - $spanHeight*2 - $buttonHeight - 20px - $timerHeight*2;
			$inputHeight: 48px;
			height:     $chatHeight;
			margin-top: 20px;

			background: white;
			outline:    1px solid #cccccc;

			.chat-messages {
				height:        $chatHeight - $inputHeight;
				overflow-wrap: break-word;
				overflow-y:    scroll;
				padding:       10px;

				p {
					margin: .3em 0;
				}

			}

			.chat-input {
				height:     $inputHeight;
				position:   absolute;
				bottom:     0;
				width:      100%;
				border:     none;
				border-top: 1px solid #cccccc;
				outline:    none;
				resize:     none;
				padding:    5px;
			}
		}

		.player-name {
			padding:     5px;
			font-size:   1.333333333em;
			font-weight: bold;
			border:      1px solid #cccccc;
		}
		.indicator {
			float: right;
		}
		.rating {
			font-weight: normal;
		}

		#moveList {
			padding-top: $spanHeight;
			overflow-y:  scroll;
			height:      $totalHeight - $buttonHeight - $spanHeight;
			border:      1px solid #cccccc;

			ol {
				-webkit-margin-before: 0px;
				padding-left:          30px;
			}
		}

		.control-container {
			height:       $buttonHeight;
			width:        $width;
			border:       1px solid #cccccc;
			border-width: 0 0 0 1px;

			control {
				display:      inline-block;
				border:       1px solid #cccccc;
				border-width: 0 1px 0 0;
				background:   white;
				width:        ($width - 1)/4;
				text-align:   center;
				line-height:  $buttonHeight;
				cursor:       pointer;
				@include no-select;
			}
		}
	}

	#private-game-wait {
		padding-top: 150px;

		margin:      auto;
		text-align:  center;

		.copy-box {
			width:      550px;
			font-size:  2em;
			color:      #707070;
			text-align: center;
			padding:    15px;
			border:     1px dashed #cccccc;

			&.flash {
				background-color: #f3b563;
			}
		}
		.copy-button {
			width:            60px;
			height:           60px;
			vertical-align:   top;
			margin-left:      5px;

			background-color: white;
			border:           1px solid #cccccc;
			outline:          none;
			cursor:           pointer;

			&:hover {
				background-color: #f3b563;
			}
			&:after {
				content: 'Copy';
			}
		}
	}
}

