$boardpx: 75px;

ol, ul {
  padding-left: 30px;
}

#board {
  background-image: url('../images/tic-tac-toe-board.gif');
  width: 225px;
  height:225px;
  position: relative;
}

.status {
  margin-bottom: 10px;
}

.stone {
  position: absolute;
  z-index: 1;
  font-size: 40px;
  width: $boardpx;
  height: $boardpx;
  line-height: $boardpx;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
