$textColor: #707070;

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	min-height:         100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {

	background-image: linear-gradient(to bottom, #d7d7d7 0%, #eeeeee 116px);

	font:             12px 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	max-width:        1005px;
	min-width:        640px;
	margin:           0 auto;
	padding:          0;
	color:            $textColor;
	a {
		color:           $textColor;
		text-decoration: none;
		&:visited {
			color: $textColor;
		}
	}

}

.force-select {
	-webkit-user-select: all;
	-moz-user-select:    all;
	-ms-user-select:     all;
	user-select:         all;
}

#wrapper {
	display:         flex;
	justify-content: left;
	margin-top:      50px;
}

#side-header-container {

	text-align: right;
	margin:     20px 40px 0 0px;
	width:      190px;
	#plug-header {
		font-family: 'georgia', serif;
		font-size:   50px;
	}
	#plug-body {
		display:    block;
		text-align: right;
	}
}