$navColor: #eeeeee;
$navHoverColor: #cccccc;

body {
	padding-top:50px;
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $navColor;
	a{
		text-decoration: none;
		color: black;
	}
}

.navTopItem {
	display: inline-block;
	/*padding: 10px 40px 10px 40px;*/
	padding: 5px 10px;
	&:hover .navSubItems{
		display:block;
	}
}
.navSubItems {
	display:none;
	position: absolute;
	top: 100%;
	background-color: $navColor;
	min-width: 50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

		a{
			@extend .navTopItem;
			display: block;
		}

		a:hover {
		background-color: $navHoverColor;
		}
}
