$navColor: transparent;
$navDropColor: #fff;
$navHoverColor: #eee;

nav {
	position: relative;
	top: 0;
	left: 0;
	width: 95vw;
	background-color: $navColor;
	z-index: 999;
	
	a{
		text-decoration: none;
		color: #303030;
	}
}

.navTopItem {
	display: inline-block;
	position: relative;
	padding: 5px 10px;
	&:hover {
		background-color: $navDropColor;
		.navSubItems{
			display:block;
			box-shadow: 2px 5px 6px rgba(0,0,0,0.3);
		}
	}
}
.navSubItems {
	display:none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: $navDropColor;
	min-width: 105px;

		a{
			@extend .navTopItem;
			display: block;
		}

		a:hover {
		background-color: $navHoverColor;
		}
}
