#modal {
	z-index: 98;

	//height: 100vh;
	//width: 100vw;

	//background-color: rgba(0, 0, 0, .5);

	#modalContainer {
		$modal-width: 450px;
		$modal-height: 250px;
		$close-button-size: 28px;
		z-index:  10;
		position: absolute;
		margin:   auto;
		top:      150px;
		left:     0;
		right:    0;
		width:    $modal-width + $close-button-size;
		height:   $modal-height + $close-button-size/2;

		#modalBody {
			background-color: white;

			border-radius:    2%;
			box-shadow:       0px 0px 80px 15px;
			padding:          10px;
			position:         absolute;
			bottom:           0;
			left:             0;
			right:            0;
			margin:           auto;
			width:            $modal-width;
			height:           $modal-height;

			.range-output {
				text-align:  center;
				line-height: 3em;
			}
			.rangeslider--horizontal {
				width:  80%;
				margin: auto;
			}

			#new_game {
				text-align: center;
				bottom:     20px;
				position:   absolute;
				margin:     auto;
				left:       0;
				right:      0;

				button[type='submit'] {
					border:     none;
					background: #cccccc;
					height:     55px;
					width:      55px;
					margin:     -2px;
					cursor:     pointer;

					&#submit-black {
						border-radius: 5px 0px 0px 5px;
						border-right:  1px solid white;
					}
					&#submit-white {
						border-radius: 0px 5px 5px 0px;
						border-left:   1px solid white;
					}
					&#submit-rand {

					}
				}
			}

		}
		#modal-close {
			position:              absolute;
			right:                 0;
			height:                $close-button-size;
			width:                 $close-button-size;
			-webkit-border-radius: $close-button-size;
			-moz-border-radius:    $close-button-size;
			border-radius:         $close-button-size;
			z-index:               11;

			text-align:            center;
			line-height:           $close-button-size;
			font-weight:           bold;
			font-size:             20px;
			background:            white;
			cursor:                pointer;
		}
	}
}