<% menu = 
[
  {
    "text" => "Home",
    "url"=> root_url
  },
  {
    "text"=> "New Game",
    "url"=> "/g/new",
    "submenu" => [
    	{
    		"text"=> "Sublink 1",
	        "url"=> "#"
    	}
    ]
  },
  {
    "text"=> "Link 3",
    "url"=> "#",
    "submenu"=> [
      {
        "text"=> "Sublink 1",
        "url"=> "#"
      },
      {
        "text"=> "Sublink 2",
        "url"=>"#"
      }
    ]
  }
] %>
<nav>
  <% menu.each do |top| %>
    <div class = navTopItem><%= link_to(top['text'], top['url']) %>
      <% unless top['submenu'].nil? %>
        <div class = navSubItems>
        <% top['submenu'].each do |subi| %>
          <%= link_to(subi['text'], subi['url']) %>
        <% end %>
        </div>
      <% end -%>
    </div>
  <% end -%>
</nav>



















