<div id='modal'>
	<div id='modalContainer'>
		<span id="modal-close">
			X
		</span>
		<div id='modalBody'>
			<%= form_for(@game, url: games_path, remote: true,
						 html:       {onsubmit: "createGame();"}) do |f| %>


				<%= f.submit 'Create' %>
			<% end -%>
		</div>
	</div>
</div>

